.features-list {
  padding: 0 0.25rem;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.feature {
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature.wifi {
  background: var(--color-neuter2-background);
}

.feature.wifi p {
  color: var(--color-neuter2);
}

.feature.pool {
  background: var(--color-success-background);
}

.feature.pool p {
  color: var(--color-success);
}

.feature.restaurant {
  background: var(--color-neuter-background);
}

.feature.restaurant p {
  color: var(--color-neuter);
}

.feature p {
  color: inherit;
}
