.error-block {
  width: 100%;
  background: var(--color-danger-background);

  overflow: hidden;

  display: flex;
  align-items: center;
  border-radius: 0.3rem;
}

.error-block-icon {
  min-width: 2.5rem;
  max-width: 2.5rem;
  min-height: 2.5rem;
  max-height: 2.5rem;
  margin: 0.5rem;

  color: var(--color-danger-background);
  background: var(--color-danger);
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.error-block-text {
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.error-block-text h3 {
  font-size: 1rem;
  color: var(--color-danger);
}

.error-block-text p {
  font-size: 0.8rem;
  margin: 0 0.25rem;
  color: var(--color-danger);
}
