.input-container {
  margin-bottom: 0.5rem;
}

.input {
  width: 100%;

  position: relative;
  text-align: left;
}

.input-label {
  font-size: 1rem;
  color: var(--color-neuter);
}

.input-field {
  width: 100%;
  height: 2.5rem;

  color: var(--color-neuter);
  caret-color: var(--color-neuter);
  padding: 0 0.25rem 0 2.25rem;
  font-size: 0.9rem;
  border: 0.1rem solid var(--color-neuter);
  border-radius: 0.3rem;
  background: rgba(133, 133, 133, 0.15);
}

.input svg {
  position: absolute;
  top: 50%;
  left: 0.25rem;

  opacity: 0.6;
  transform: translateY(-50%);
}

.input-field::placeholder {
  color: var(--color-neuter);
  opacity: 0.6;
}

.input-field[type="file"] {
  height: auto;
  border: none;
  background: none;
}

.input-field:focus {
  outline: none;
  color: var(--color-neuter);
  border-color: var(--color-primary);
}

.input-field.error,
.input-field.error::placeholder {
  color: var(--color-danger);
  border-color: var(--color-danger);
}

.input-error {
  margin: 0.25rem 0 !important;
  font-size: 0.7rem;
  color: var(--color-danger) !important;
}
