.hero {
  position: relative;
  height: 100vh;
  overflow-x: hidden;
}

.window {
  position: relative;
  width: 70vw;
  height: 60vh;
  left: 20%;
  top: 15%;
  border-radius: 1rem;
  border: 0.15rem solid var(--color-primary);
}

.hero__title {
  position: absolute;
  bottom: 40%;
  left: 0.5rem;
  padding: 0.2rem;
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
  color: var(--color-text);
  font-family: Ubuntu-Bold, sans-serif;
  z-index: 2;
}

.hero__title span {
  background-clip: text;
  background: url('/syria_flag1.jpg') center / cover no-repeat border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.image-container {
  position: absolute;
  padding: 0.05rem;
  border: var(--color-primary) 0.1rem solid;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem 0.1rem var(--color-primary__light);
  z-index: 1;
}

@media (min-width: 40rem) {
  .window {
    width: 60vw;
    left: 30%;
  }

  .image-container {
    border-radius: 1rem;
  }

  .image-container:last-of-type {
    width: 60% !important;
  }
}
