.row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  grid-gap: 0.5rem;
}

#image-title {
  margin: 0 !important;
  color: var(--color-neuter);
}

.new-service-actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.new-service-actions .action {
  text-align: right;
  color: var(--color-neuter);
  background-color: var(--color-neuter-background);
}

.governorate-selector {
  width: 100%;
  height: 2.5rem;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  padding: 0 0.25rem 0 0.25rem;

  border-radius: 0.3rem;
  color: var(--color-neuter);
  caret-color: var(--color-neuter);
  background: rgba(133, 133, 133, 0.15);
  border: 0.1rem solid var(--color-neuter);
}

.submit-service {
  height: 2.5rem;
  margin: 0 !important;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.no-owner button {
  width: 100%;
  height: 2.5rem;
  padding: 0;
  margin: 0;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}
