.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  right: 0;
  opacity: 0;
  z-index: -1;
  transform: translateX(100%);
  /* transition: opacity 0.1s; */
}

.backdrop.active {
  transform: translateX(0);
  z-index: 4;
}

@media (min-width: 40rem) {
  .backdrop.active {
    opacity: 0;
    z-index: -1;
  }
}
