.side-bar__item {
  width: 100%;
}

.side-bar__item .navigate {
  opacity: 0.8;
  display: flex;
  align-items: center;
  border-left: 0.3rem solid transparent;
  transition: all 0.4s;
}

.navigate.active {
  opacity: 1;
  border-left: 0.3rem solid var(--color-neuter);
  background: var(--color-neuter-background);
}

.side-bar__item button {
  margin-left: 1.5rem;
  font-size: 0.8rem;
  color: var(--color-primary__light);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.side-bar__item svg {
  width: 1.5rem;
  height: 1.5rem;
}

.side-bar__item:last-child {
  margin-top: auto;
  margin-bottom: 2rem;
}

.side-bar__item:last-child span {
  color: var(--color-danger);
}
