.home-list {
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.5rem;
}

.home-list p {
  position: absolute;
  left: 0.5rem;
  bottom: 0.5rem;
}

@media (min-width: 40rem) {
  .home-list {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
  }
}

@media (min-width: 50rem) {
  .home-list {
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1rem;
  }
}
