.hotel-features {
  padding: 0.25rem 0.5rem;
  border: 0.1rem solid var(--color-neuter);
  border-radius: 0.5rem;

  display: flex;
  flex-direction: column;

  justify-content: center;
}

.hotel-features legend {
  font-size: 1rem;
  padding: 0.1rem 0.25rem;
  border-radius: 0.3rem;

  color: var(--color-neuter-background);
  background: var(--color-neuter);
}

.hotel-feature {
  padding: 0.25rem 0;
  display: flex;
  align-items: center;
}

.hotel-feature label {
  padding: 0 0.25rem;
  color: var(--color-neuter);
}
