#main-header {
  width: 100vw;
  display: flex;
  border-bottom: 0.05rem solid rgba(0, 0, 0, 0.096);
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  background: var(--secondery-color);
  z-index: 3;
}

#main-header .container {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 40rem) {
  #main-header .container {
    justify-content: left;
  }
}
