.side-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 15rem;
  opacity: 0;
  background: var(--color-background);
  z-index: 5;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  transform: translateX(-100%);
  transition:
    opacity 0.4s,
    transform 0.4s;
}

.side-bar nav {
  height: 100%;
}

#side-bar__items {
  height: 100%;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.side-bar__item:last-of-type {
  position: relative;
  bottom: 2%;
}

@media (min-width: 40rem) {
  .side-bar {
    position: static;
    display: block;
    opacity: 1;
    transform: translateX(0%);
    transition: none;
    grid-area: sidebar;
    z-index: 0;
  }

  .side-bar__item button {
    font-size: 1.2rem;
  }
}
