#select-roles {
  height: 2.5rem;
  border: 0.1rem solid var(--color-neuter);
  border-radius: 0.5rem;
}

#select-roles:focus {
  outline: none;
}

.owner-modal-actions {
  text-align: right;
}

.action.neuter {
  color: var(--color-neuter);
  background: var(--color-neuter-background);
}

.submit-owner {
  height: 2.5rem;
  margin: 0 !important;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.select-roles {
  width: 100%;
  display: block;
  padding: 0 0.25rem 0 0.25rem;

  color: var(--color-neuter);
}
