:root {
  --color-primary: #3414cf;
  --color-primary__light: #327af0;
  --color-background: #fff;
  --color-body: white;
  --color-text: #000000b4;
  --color-light: rgba(0, 0, 0, 0.5);

  --color-success-background: #dcfce7;
  --color-success: #41f1b6;
  --color-danger-background: #ffe2e6;
  --color-danger: #ff7782;
  --color-warning-background: #fff4de;
  --color-warning: #ffbb55;
  --color-neuter-background: #d5dcfc;
  --color-neuter: #6f77ed;
  --color-neuter2-background: #f4e8fe;
  --color-neuter2: #b588e7;
  --color-card: #fff;

  --linear-gradient: linear-gradient(
    135deg,
    var(--color-primary),
    var(--color-primary__light) 60%
  );

  --color-border: rgba(0, 0, 0, 0.2);

  --box-shadow: 0 0 0.8rem 0 var(--color-primary__light);
}

#dark {
  --color-text: #ccc;
  --color-background: #2a2a2a;
  --color-body: #333;
  --color-card: #2a2a2a;
  --color-light: rgba(255, 255, 255, 0.5);

  --color-border: rgba(255, 255, 255, 0.2);

  --box-shadow: 0 0 0.8rem 0 var(--color-primary__light);
}

@font-face {
  font-family: "Ubuntu-Bold";
  src: url("./assets/fonts/Ubuntu-Bold.ttf");
}

@font-face {
  font-family: "Ubuntu-Light";
  src: url("./assets/fonts/Ubuntu-Light.ttf");
}

@font-face {
  font-family: "Ubuntu";
  src: url("./assets/fonts/Ubuntu-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  font-family: Ubuntu, sans-serif;
  box-sizing: border-box;
  transition: background-color 0.3s;
}

.active {
  opacity: 1;
  transform: translateX(0%);
}

.hidden {
  display: none;
}

.center {
  text-align: center;
}

.danger {
  color: var(--color-danger);
}

.empty {
  font-family: "Ubuntu-Bold";
  font-size: 2rem;
}

.error {
  color: var(--color-danger);
}

html {
  height: 100%;
}

body {
  height: 100%;
  overflow: auto;
  overflow-x: clip;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  border: none;
  background: none;
  margin: 0.5rem;
  cursor: pointer;
}

#root {
  height: 100%;
}

.App {
  width: 100%;
  min-height: 100%;
  display: grid;
  grid-template-rows: 2.4rem auto 11.5rem;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

a {
  text-decoration: none;
}

@media (min-width: 40rem) {
  /*.App {
    grid-template-columns: 15rem auto;
    grid-template-areas:
      "header header"
      "sidebar main"
      "sidebar footer";
  }*/
}
