#main-title {
  display: flex;
  align-items: center;
}

#main-title img {
  width: 1rem;
  height: 1rem;
  margin: 0 0.5rem 0 0.5rem;
}

#main-title h1 {
  font-size: 1rem;
  font-family: "Ubuntu-Bold", sans-serif;
  background-clip: text;
  background: var(--linear-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#side-bar__toggle {
  font-size: 1rem;
  margin: 0 0.5rem;
  padding: 0;
  color: var(--color-primary);
}

#side-bar__toggle svg {
  width: 1.2rem;
  height: 1.2rem;
}

#side-bar__toggle svg path {
  stroke: var(--color-primary);
}

@media (min-width: 40rem) {
  #side-bar__toggle {
    display: none;
  }
}
