#error {
  width: 100vw;
  min-height: 100dvh;

  padding: 0.5rem;
  text-align: center;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  overflow: hidden;
  background: var(--color-background);
}

#error img {
  width: 15rem;
}

#error h1 {
  font-size: 1.5rem;
  color: var(--color-danger);
  margin: 1rem;
}

#error p {
  width: 100%;

  color: var(--color-text);

  overflow: hidden;
  text-overflow: ellipsis;
}
