#error {
  min-height: 100dvh;
  padding: 0.5rem;
  text-align: center;
  background: var(--color-background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#error img {
  width: 15rem;
}

#error h1 {
  font-size: 1.5rem;
  color: var(--color-danger);
  margin: 1rem;
}

#error p {
  color: var(--color-text);
}
